@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=PT+Serif:ital@1&family=Questrial&family=Ubuntu:wght@300&display=swap");

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --dark-blue-bg: hsl(217, 54%, 11%);
  --dark-blue-card-bg: hsl(216, 50%, 16%);
  --dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font-size: 1.8rem;
  background-color: var(--dark-blue-bg);
  color: white;
  font-family: "Outfit", sans-serif;
}

.image-container {
  width: 300px;
  height: 300px;
  margin: 25px auto;
}

div img {
  width: 100%;
  height: 100%;
  border-radius: 3%;
}

.card {
  width: 35rem;
  height: 600px;
  /* margin: 20vh auto; */
  /* border: 2px solid white; */
  background-color: var(--dark-blue-card-bg);
  border-radius: 5%;
}

.info {
  width: 30rem;
  margin: 0 auto;
  margin-top: -7px
}

.info-value {
  color: var(--cyan);
  display: flex;
  align-items: center;
  /* border: 2px solid; */
}

.info-about {
  color: var(--soft-blue);
  font-weight: 300;
}

.info-heading p{
  color: var(--white);
  font-weight:600;
}

.info-time-left {
  color: var(--soft-blue);
  display: flex;
  align-items: center;
  
}

.info-double {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 2.5rem;

}

.info-heading,
.info-about,
.info-double,
.credit {
  margin: 2rem 0;
}

.info-heading{
  margin-top: 1.5rem;
}
#avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 1px solid white;
}

.credit {
  display: flex;
  align-items: center;
  gap: 5%;
  /* margin-bottom: 1.5rem; */
  border-top: 1px solid var(--dark-blue-line);
  padding: 1.5rem 0;

}

.info-value span{
  margin-left: 7px;
  font-size: 17px;
  
}

.info-time-left svg {
  margin-right: 7px;
  /* border: 2px solid; */
}

.info-time-left span{
  font-size: 17px;
  font-weight: 100;
  /* border: 2px solid; */
  
}

h2{
  font-size:22px;
}

#creation{
  color: var(--soft-blue);
}

.credit span{
  font-size: 16px;
}